# duplicate this file and rename it to .env and fill in your values.
# .env is gitignored

ERCOT_USERNAME=your_email@example.com
ERCOT_PASSWORD=your_password
ERCOT_SUBSCRIPTION_KEY=your_subscription_key

CDS_API_URL=https://cds.climate.copernicus.eu/api
CDS_API_KEY=your_cds_api_key
